.mainContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 275px;
  top: 100px;
  min-height: 100%;
  background: #F9F9F9;
  overflow-y: auto;
  margin-top: -100px;

  figure{
    display: inline-table;
    width:1%;
    padding:0;
    margin:0 0 12px 0;
    border:none;
  }

  figcaption{
    display:block;
    padding:3px 6px 7px 6px;
    margin:0;
    border:none;
    text-align: left;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
  }

  .more_text{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #FFFFFF;
  }

  .green_text{
    color: #0F7C10;
  }

  .mainContainer_first {
    position: absolute;
    width: 100%;
    height: 750px;
    top: 100px;
    background: #F9F9F9;

    .title_image {
      text-align: right;
      position: absolute;
      margin-bottom: 114px;
    }

    .left_block_title {
      position: absolute;
      width: 670px;
      height: 221px;
      left: 5.8%;


      .title_text_1 {
        width: 670px;
        height: 117px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 90px;
        line-height: 130%;
        text-align: left;
        color: #0F7C10;
        flex: none;
        order: 0;
        flex-grow: 0;
        margin-top: 237px;
      }

      .title_text_2 {
        width: 670px;
        height: 84px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 130%;
        text-align: left;
        color: #000000;
        flex: none;
        order: 1;
        flex-grow: 0;
      }

      .more_button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        padding: 10px 50px;
        gap: 10px;
        width: 140px;
        height: 42px;
        background: #0F7C10;
        position: initial;
        margin-top: 30px;
        box-shadow: none;

        &:hover {
          background: #11BC15;
        }

        &:active {
          background: white;
          border-bottom: 2px solid #11BC15;
        }
      }
    }
  }

  .mainContainer_second {
    position: absolute;
    width: 100%;
    height: 1000px;
    top: 550px;
    display: contents;

    .first_monoBlock{
      position: absolute;
      width: 690px;
      height: 500px;
      top: 700px;
      background: #EDEDED;

      .first_monoBlock_image{
        position: absolute;
        width: 320px;
        height: 300px;
        right: 50%;
      }

      .title_text_3{
        width: 298px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 130%;
        color: #000000;
        position: absolute;
        left: 50%;
        top: 5%;
        display: flex;
        text-align: left;
      }

      .title_text_4{
        width: 298px;
        font-family: 'Roboto', sans-serif;
        color: #0F7C10;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 130%;
        position: absolute;
        left: 50%;
      }

      .more_button_2{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        padding: 10px 50px;
        gap: 10px;
        width: 140px;
        height: 42px;
        background: #0F7C10;
        position: absolute;
        left: 50%;
        bottom: 50%;

        &:hover {
          background: #11BC15;
        }

        &:active {
          background: white;
          border-bottom: 2px solid #11BC15;
        }
      }
    }

    .first_quads_block {
      position: absolute;
      width: 34.9%;
      height: 500px;
      top: 700px;
      left: 36.3%;
      margin: 0;

      .text_black{
        display: flex;
        margin-left: 20px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 130%;
        color: #000000;
      }

      .text_price_black{
        display: flex;
        margin-left: 20px;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-size: 17px;
        color: #000000;
      }

      .text_white{
        display: flex;
        margin-left: 20px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 130%;
        color: #FFFFFF;
      }
      .text_price_white{
        display: flex;
        margin-left: 20px;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-size: 17px;
        color: #FFFFFF;
      }

      .first_quad_block {
        position: absolute;
        width: 335px;
        height: 250px;
        background: #000000;
        flex-flow: column;
      }

      .second_quad_block {
        position: absolute;
        width: 335px;
        height: 250px;
        background: #FFFFFF;
        left: 50%;
        flex-flow: column;
      }

      .third_quad_block {
        position: absolute;
        width: 335px;
        height: 250px;
        background: #000000;
        margin-top: 250px;
        left: 50%;
      }

      .fourth_quad_block {
        position: absolute;
        width: 335px;
        height: 250px;
        background: #FFFFFF;
        margin-top: 250px;
      }

    }

    .second_quads_block {
      position: absolute;
      width: 34.9%;
      height: 500px;
      top: 1200px;
      margin: 0;

      .text_black{
        display: flex;
        margin-left: 20px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 130%;
        color: #000000;
      }

      .text_price_black{
        display: flex;
        margin-left: 20px;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-size: 17px;
        color: #000000;
      }

      .text_white{
        display: flex;
        margin-left: 20px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 130%;
        color: #FFFFFF;
      }
      .text_price_white{
        display: flex;
        margin-left: 20px;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-size: 17px;
        color: #FFFFFF;
      }

      .first_quad_block {
        position: absolute;
        width: 335px;
        height: 250px;
        background: #000000;
        flex-flow: column;
      }

      .second_quad_block {
        position: absolute;
        width: 335px;
        height: 250px;
        background: #FFFFFF;
        left: 50%;
        flex-flow: column;
      }

      .third_quad_block {
        position: absolute;
        width: 335px;
        height: 250px;
        background: #000000;
        margin-top: 250px;
        left: 50%;
      }

      .fourth_quad_block {
        position: absolute;
        width: 335px;
        height: 250px;
        background: #FFFFFF;
        margin-top: 250px;
      }

    }

    .second_monoBlock{
      position: absolute;
      width: 670px;
      height: 500px;
      top: 1200px;
      background: #EDEDED;
      left: 36.3%;
      margin-left: 20px;

      .second_monoBlock_image{
        top: 100px;
        position: absolute;
        width: 320px;
        height: 300px;
        right: 50%;
        left: 36.3%;
      }
      .text {
        width: 300px;

        .title_text_5{
          width: 230px;
          height: 42px;

          font-family: 'Roboto', sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 32px;
          line-height: 130%;
          color: #000000;
          position: absolute;
          top: 135px;
          display: flex;
          text-align: left;
        }

        .title_text_6 {
          width: 230px;
          height: 52px;

          font-family: 'Roboto', sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 130%;
          color: #000000;
          position: absolute;
          top: 197px;
          display: flex;
          text-align: left;
        }

        .title_text_7 {
          width: 230px;
          height: 19px;
          font-family: 'Roboto', sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 15px;
          line-height: 130%;
          color: #000000;
          position: absolute;
          top: 259px;
          display: flex;
          text-align: left;
        }
      }

      .more_button_2{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        padding: 10px 50px;
        gap: 10px;
        width: 140px;
        height: 42px;
        background: #0F7C10;
        position: absolute;
        bottom: 28%;

        &:hover {
          background: #11BC15;
        }

        &:active {
          background: white;
          border-bottom: 2px solid #11BC15;
        }
      }
    }
  }

  .sales_block{
    position: absolute;
    top: 1700px;

    .left_block{
      position: absolute;
      display: block;
      text-align: left;
      flex-flow: row nowrap;
      top:75px;

      .text_sales_1{
        width: 555px;
        height: 55px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 42px;
        line-height: 130%;
      }

      .text_sales_2{
        width: 555px;
        height: 42px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 130%;
      }
      .more_button_3{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        padding: 10px 50px;
        gap: 10px;
        position: absolute;
        width: 186px;
        height: 42px;
        background: #0F7C10;
        top: 140px;

        &:hover {
          background: #11BC15;
        }

        &:active {
          background: white;
          border-bottom: 2px solid #11BC15;
        }
      }
    }

    .right_block{
      position: absolute;
      display: flex;
      flex-flow: row nowrap;
      top:75px;
      width: 555px;
      height: 200px;
      left: 580px;
    }

  }

  .popular_games{
    position: absolute;
    width: 1481px;
    height: 611px;
    top: 2020px;

    .popular_text{
      position: absolute;
      width: 555px;
      height: 55px;
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 42px;
      line-height: 130%;
    }

    .images{
      position: absolute;
      width: 1361px;
      height: 536px;
      top: 80px;
      display: block;
      padding: 0 5px;

      .img{
        flex: 1 1 auto;
        margin: 0 5px;
      }
    }

  }

  .last_block{
    position: absolute;
    width: 1920px;
    height: 450px;
    top: 2700px;

    .last_image{
      position: absolute;
      left: 24px;
    }
    .last_text{
      position: absolute;
      width: 555px;
      height: 55px;
      left: 749px;
      top: 48px;

      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 42px;
      line-height: 130%;
    }

    .more_button_4 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      padding: 10px 50px;
      gap: 10px;
      position: absolute;
      width: 210px;
      height: 42px;
      left: 916px;
      top: 132px;
      background: #0F7C10;

      &:hover {
        background: #11BC15;
      }

      &:active {
        background: white;
        border-bottom: 2px solid #11BC15;
      }
    }
  }
}


