@mixin card_block{
  position: absolute;
  width: 690px;
  height: 500px;
}
@mixin main_text_styles{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  position: absolute;
}
@mixin monoBlock_Text_styles {
  @include main_text_styles;
  text-align: left;
  margin-left: 20px;
}
@mixin buttons_styles{
  background: #0F7C10;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 10px 50px;
  gap: 10px;
  width: 140px;
  height: 42px;
  position: absolute;
  color: white;
  &:hover {
    background: #11BC15;
  }

  &:active {
    background: white;
    border-bottom: 2px solid #11BC15;
  }
}

.mainContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 275px;
  top: 100px;
  min-height: 100%;
  background: #F9F9F9;
  overflow-y: auto;
}
.mainContainer_first {
  position: absolute;
  width: 100%;
  height: 750px;
  top: 100px;
  background: #F9F9F9;
}
.left_block_title {
  position: absolute;
  width: 670px;
  height: 221px;
  left: 5.8%;
}
.first_more_button {
  @include buttons_styles;
  top: 380px;
}
.title_image {
  text-align: right;
  position: absolute;
  margin-bottom: 114px;
}
.title_text_1 {
  @include main_text_styles;
  top: 50px;
  width: 670px;
  height: 117px;
  font-size: 90px;
  text-align: left;
  color: #0F7C10;

}
.title_text_2 {
  @include main_text_styles;
  top: 235px;
  width: 670px;
  height: 84px;
  font-size: 32px;
  text-align: left;
  color: #000000;
}

.mainContainer_second {
  position: absolute;
  width: 100%;
  height: 1000px;
  top: 550px;
  display: contents;
}
.first_quads_block {
  @include card_block;
  top: 720px;
  left: 690px;
  display: flex;
  flex-flow: wrap;
}
.second_quads_block {
  @include card_block;
  top: 1220px;
  margin: 0;
  display: flex;
  flex-flow: wrap;
}
.first_monoBlock{
  @include card_block;
  top: 720px;
  background: #EDEDED;
}
.second_monoBlock{
  @include card_block;
  left: 690px;
  top: 1220px;
  background: #EDEDED;
}
.first_monoBlock_image{
  position: absolute;
  width: 320px;
  height: 300px;
  right: 50%;
  top:100px;
}
.second_monoBlock_image{
  top: 100px;
  position: absolute;
  width: 320px;
  height: 300px;
  right: 50%;
  left: 36.3%;
}
.description_text{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  display: flex;
  text-align: left;
  margin-left: 20px;
}
.full_card{
  display: inline-block;
  justify-content: center;
  width: 335px;
  height: 250px;
  font-size: 17px;
  background-blend-mode: multiply;

  &:hover{
    outline: 2px solid green;
    outline-offset: -2px;
  }
}
.full_card:nth-child(1){
  color: white;
  background: black;
}
.full_card:nth-child(2){
  color: black;
  background: white;
}
.full_card:nth-child(3){
  color: black;
  background: white;
}
.full_card:nth-child(4){
  color: white;
  background: black;
}

.title_text_3{
  @include main_text_styles;
  width: 298px;
  font-size: 32px;
  color: #000000;
  height: 168px;
  left: 50%;
  top: 102px;
  display: flex;
  text-align: left;
}
.title_text_4{
  width: 298px;
  font-family: 'Roboto', sans-serif;
  color: #0F7C10;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 130%;
  left: 50%;
}
.title_text_5{
  @include monoBlock_Text_styles;
  color: #000000;
  width: 230px;
  font-size: 32px;
  top: 135px;
}
.title_text_6 {
  @include monoBlock_Text_styles;
  color: #000000;
  width: 230px;
  font-size: 20px;
  top: 197px;
}
.title_text_7 {
  @include monoBlock_Text_styles;
  width: 230px;
  font-size: 15px;
  color: #000000;
  top: 259px;
}

.second_more_button{
  @include buttons_styles;
  bottom: 30%;
  right: 30%;
}
.third_more_button{
  @include buttons_styles;
  bottom: 30%;
  margin-left: 20px;
}

.sales_block{
  position: absolute;
  height: 350px;
  width: 100%;
  top: 1700px;
}
.text_sales_1{
  @include main_text_styles;
  width: 555px;
  height: 55px;
  font-size: 42px;
  top: 75px;
  text-align: left;
}
.text_sales_2{
  @include main_text_styles;
  width: 555px;
  height: 42px;
  font-size: 32px;
  top: 140px;
  text-align: left;
}
.fourth_more_button{
  @include buttons_styles;
  width: 186px;
  top: 229px;
}
.right_block{
  position: absolute;
  top:75px;
  left: 580px;
}

.popular_games{
  position: absolute;
  width: 100%;
  height: 611px;
  top: 2015px;
}
.popular_text{
  @include main_text_styles;
  width: 555px;
  height: 55px;
  font-size: 42px;
  margin-top: 25px;
}
.images{
  position: absolute;
  top: 90px;
}
.img{
  margin: 0 5px;
  transition: 0.5s;

  &:hover{
    transform: scale(1.06);
  }
}
figure{
  display: inline-table;
  width:1%;
  padding:0;
  margin:0 0 12px 0;
  border:none;
}
figcaption{
  @include main_text_styles;
  padding:8px 6px 7px 6px;
  font-weight: bold;
}

.last_block{
  position: absolute;
  width: 1920px;
  height: 450px;
  top: 2700px;
}
.last_image{
  position: absolute;
  left: 24px;
}
.last_text{
  @include main_text_styles;
  width: 555px;
  height: 55px;
  left: 812px;
  top: 48px;
  font-size: 42px;
}
.fifth_more_button {
  @include buttons_styles;
  display: flex;
  position: absolute;
  width: 210px;
  top: 188px;
  left: 829px;
}

