
@mixin main_text_styles{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  position: relative;
}

.mainContainer {
  width: 1920px;
  background: #F9F9F9;
}
////////////////////////////////////////
.mainContainer_first{
  display: flex;
  flex-direction: row;
}

.title_image{
  width: 555px;
  height: 555px;
  margin-left: 20px;
  margin-top: 81px;
  padding-bottom: 114px;
}
.title_left_block{
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 115px;
  width: 670px;
}
.title_text_1{
  @include main_text_styles;
  font-weight: bold;
  width: 670px;
  height: 117px;
  font-size: 90px;
  line-height: 130%;
  color: #0F7C10;
  position: relative;
  margin-top: 237px;
}
.title_text_2{
  @include main_text_styles;
  width: 670px;
  height: 84px;
  font-size: 32px;
  color: #000000;
  padding-bottom: 60px;
}
//////////////////////////////////////////////////////
.mainContainer_second {
  display: flex;
  flex-flow: wrap;
}

.first_quads_block {
  display: inline-flex;
  width: 690px;
  flex-flow: wrap;
}
.second_quads_block {
  display: inline-flex;
  width: 690px;
  flex-flow: wrap;
}
.first_monoBlock{
  display: flex;
  background: #EDEDED;
}
.monoblock_text_1{
  margin-top: 102px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 298px;
}
.title_text_3{
  @include main_text_styles;
  position: relative;
  width: 298px;
  font-size: 32px;
  color: #000000;
  display: flex;
  text-align: left;
}
.monoblock_text_2{
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 230px;
  height: 225px;
  margin-left: 115px;
}
.second_monoBlock{
  display: flex;
  flex-direction: row-reverse;
  background: #EDEDED;
}
.monoBlock_image{
  margin-top: 100px;
  width: 320px;
  height: 300px;
}
.description_text{
  @include main_text_styles;
  display: flex;
  text-align: left;
  margin-left: 20px;
  font-size: 17px;
  margin-top: 10px;
}
.price_text{
  @include main_text_styles;
  display: flex;
  text-align: left;
  margin-left: 20px;
  font-size: 17px;
  font-weight: bold;
}

.full_card{
  display: inline-block;
  justify-content: center;
  width: 335px;
  height: 250px;
  font-size: 17px;
  background-blend-mode: multiply;

  &:hover{
    outline: 2px solid green;
    outline-offset: -2px;
  }
}
.full_card:nth-child(1){
  color: white;
  background: black;
}
.full_card:nth-child(2){
  color: black;
  background: white;
}
.full_card:nth-child(3){
  color: black;
  background: white;
}
.full_card:nth-child(4){
  color: white;
  background: black;
}

.title_text_4{
  width: 298px;
  //@include monoBlock_Text_styles;
  color: #0F7C10;
  font-size: 32px;
  left: 50%;
}
.title_text_5{
  @include main_text_styles;
  margin-top: 135px;
  font-size: 32px;
  color: #0F7C10;
  font-weight: bold;
}
.title_text_6 {
  @include main_text_styles;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
}
.title_text_7 {
  @include main_text_styles;
  font-size: 15px;
  color: #000000;
  padding-bottom: 40px;
}

.sales_block{
  display: flex;
  flex-direction: row;
}
.text_sales_1{
  @include main_text_styles;
  margin-top: 71px;
  font-size: 42px;
  text-align: left;
  font-weight: bold;
}
.text_sales_2{
  @include main_text_styles;
  font-size: 32px;
  text-align: left;
  padding-bottom: 47px;
}

.sales_text_block{
  display: flex;
  position: relative;
  flex-direction: column;
  margin-left: 115px;
  width: 555px;
}
.right_block{
  display: inline-block;
  margin-left: 20px;
  margin-top: 75px;
}

.popular_games{
  position: relative;
  display: flex;
  flex-direction: column;
}
.popular_text{
  @include main_text_styles;
  margin-left: 115px;
  margin-top: 50px;
  font-size: 42px;
  font-weight: bold;
  text-align: left;
}
.images{
  display: flex;
  margin-top: 20px;
}
.img{
  margin: 0 5px;
  transition: 0.5s;

  &:hover{
    transform: scale(1.06);
  }
}
figure{
  display: inline-table;
  width:1%;
  padding:0;
  margin:0 0 12px 0;
  border:none;
}
figcaption{
  @include main_text_styles;
  padding:8px 6px 7px 6px;
  font-weight: bold;
  text-align: left;
  font-size: 20px;
}

.link_text_style{
  width: auto;
  height: 20px;
  font-size: 17px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
  &:hover{
    text-decoration: green underline;
    font-weight: bold;
    color: darkgreen;
  }
}

.link_button_style{
  width: auto;
  height: 20px;
  font-size: 17px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
  &:hover{
    font-weight: bold;
    color: darkgreen;
  }
}