@mixin main_text_styles{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  position: relative;
}
.product{
  display: flex;
  flex-flow: row;
  height: 140px;
  width: 1360px;
  margin-top: 20px;
}

.text_block{
  display: flex;
  align-items: center;
}

.item_name{
  @include main_text_styles;
  font-weight: 400;
  font-size: 20px;
  margin-left: 20px;
  width: 645px;
}

.item_price{
  @include main_text_styles;
  font-weight: bold;
  font-size: 20px;
  width: 116px;
  margin-left: 140px;
}

.remove_icon {
  margin-left: 48px;
  &:hover{
    stroke-opacity: 1;
  }
}

.counter_block{
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 10px;
}

.squad{
  display: flex;
  width: 25px;
  height: 25px;
  border: 1px solid rgba(0,0,0,0.3);
  justify-content: center;
  align-items: center;
}
.icons{
  height: 20px;
}