@mixin main_text_styles{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  position: relative;
}

@mixin gray_text_styles{
  @include main_text_styles;
  font-size: 20px;
  color: #878787;
  width: 225px;
  height: 23px;
}

.main_content{
  position: relative;
  width: 1920px;
  height: 2442px;
}
.title{
  position: absolute;
  width: 1920px;
  height: 153px;
  left: 1px;
  top: 100px;
  display: flex;
}
.title_block{
  @include gray_text_styles;
  left: 280px;
  top: 30px;
}
.links_text{
  @include main_text_styles;
  font-size: 20px;
  color: #878787;
  width: 222px;
  height: 23px;
  line-height: 20px;
  text-decoration: none;

  &:hover{
    text-decoration: green underline;
    color: darkgreen;
  }
}

.header_controllers{
  position: absolute;
  display: flex;
  width: 1360px;
  height: 60px;
  left: 280px;
  top: 63px;
}

.text_name{
  @include main_text_styles;
  font-size: 42px;
  height: 55px;
  font-weight: bold;
  margin-top:8px;
}

.result_text{
  position: absolute;
  width: 325px;
  height: 60px;
  left: 1135px;
  text-align: right;
  display: flex;
  flex-direction: column;
}

.header_text_2{
  @include gray_text_styles;
  padding-bottom: 8px;
}

.header_text_3{
  @include gray_text_styles;
  color: #000000;
  font-weight: bold;
}

.form_block{
  position: absolute;
  width: 1920px;
  height: 46px;
  left: 0;
  top: 253px;
  background: #0F7C10;
}

.filter{
  position: relative;
  display: flex;
  left: 1349px;
  bottom: 23.4%;
  align-items: center;
}

.sort_text{
  @include main_text_styles;
  margin-right: 8px;
  color: #F9F9F9;
  font-size: 15px;

}

.selector_text{
  @include main_text_styles;
  margin-right: 64px;
  color: #F9F9F9;
  font-size: 17px;
  font-weight: bold;
}

.table_icon{
  margin-right: 12px;
}

.price_range{
  @include main_text_styles;
  position: absolute;
  left: 14.58%;
  right: 67.4%;
  top: 21.74%;
  bottom: 30.43%;
  display: flex;
  margin-right: 5px;
  color: #F9F9F9;
  font-size: 17px;
}
.input_style{
  position: relative;
  display: flex;
  left: 409px;
  top: 10px;
}

input[type='range'] {
  overflow: hidden;
  width: 217px;
  -webkit-appearance: none;
  background: #0F7C10;
}

input[type='range']::-webkit-slider-runnable-track {
  height: 10px;
  -webkit-appearance: none;
  background: #0F7C10;
  margin-top: -1px;
}
input[type='range']::-webkit-slider-thumb {
  width: 10px;
  -webkit-appearance: none;
  height: 10px;
  cursor: ew-resize;
  background: #0F7C10;
  box-shadow: -80px 0 0 80px #FFFFFF;
}
input[type="range"]::-moz-range-progress {
  background-color: #FFFFFF;
}
input[type="range"]::-moz-range-track {
  background-color: #FFFFFF;
}

.cards_block{
  position: relative;
  width: 1360px;
  height: 1850px;
  left: 280px;
  top: 299px;
  display: flex;
  flex-wrap: wrap;
}

.card{
  position: relative;
  min-width: 453px;
  height: 370px;
  justify-content: center;
  text-align: left;
  top: 20px;
  background: white;
  transition: 0.8s;
  &:hover{
    transform: scale(1.1);
  }
}

.card_description{
  display: flex;
  flex-direction: column;
  width: 324px;
  height: 44px;
  margin-left: 38px;
  top: 20px;
}

.card_name{
  @include main_text_styles;
  font-size: 17px;
}

.card_price{
  @include main_text_styles;
  font-size: 17px;
  font-weight: bold;
}