@mixin main_text_styles{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  position: relative;
}

.last_image{
  position: relative;
}

.last_block{
  display: flex;
  position: absolute;
  width: 1920px;
  height: 450px;
  top: 2700px;
}

.last_text{
  @include main_text_styles;
  height: 55px;
  font-size: 42px;
  padding-bottom: 50px;
}

.text_button{
  display: flex;
  flex-direction: column;
  position: relative;
  top: 149px;
  left: 135px;
}