@mixin main_text_styles{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  position: relative;
}

.main_content{
  display: flex;
  flex-flow: column;
  width: 100%;
}

.title{
  @include main_text_styles;
  font-size: 42px;
  text-align: left;
}

.myButton{
  @include main_text_styles;
  font-size: 17px;
  font-weight: 400;
  background: white;
  color: #0F7C10;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  width: 210px;
  height: 42px;
  position: relative;
  cursor: pointer;
  align-items: center;

  &:active {
    background: #0F7C10;
    color: white;
  }
}

.empty_text{
  @include main_text_styles;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
}

.buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  align-items: end;
}

.total_block{
  display: flex;
  flex-flow: column;
  width: 210px;
  text-align: right;
  margin-top: 20px;
}

.delivery_text{
  @include main_text_styles;
  font-size: 20px;
  font-weight: 400;
  color: #0F7C10;
  text-align: right;
  margin-bottom: 20px;
}

.total_text{
  @include main_text_styles;
  font-size: 20px;
  font-weight: 400;
  gap: 10px;
  margin-bottom: 30px;
}

.price_text{
  @include main_text_styles;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
  width: 125px;
  display: inline-block;
}

.prices_block{
  display: flex;
  flex-flow: column;
}