.Header{
    justify-content: space-around;
    display: flex;
}

.Links{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
    color: black;
}

.Links:hover{
    text-decoration: green underline;
    font-weight: bold;
}

.Footer{
    position: absolute;
    bottom: 0;
    right: 50%;
    font-size: 36px;
}

