@mixin main_text_styles{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}
.main_content{
  display: flex;
  flex-flow: row-reverse;
}
.mapImage{
  width: 785px;
  height: 600px;
  display: block;
  margin-top: 50px;
  margin-left: 20px;

}
.map_images{
  position:relative;
  display:inline-block;
}

.main_text{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.logo{
  width: 74px;
  height: 74px;
  position: absolute;
  left: 480px;
  bottom: 278px;
}
.text_1{
  width: 555px;
  height: 143px;
  text-align: left;
  display: flex;
  flex-direction: column;
}
.contacts_1{
  @include main_text_styles;
  font-size: 42px;
  font-weight: bold;
  width: 555px;
}
.description_1{
  @include main_text_styles;
  margin-top: 10px;
  font-weight: 400;
  font-size: 20px;
}
.contacts_2{
  width: 477.58px;
  height: 195px;
  text-align: left;
  display: flex;
  flex-direction: column;
}
.name{
  @include main_text_styles;
  display: flex;
  margin-top: 30px;
  font-weight: 400;
  font-size: 17px;
}
.description_2{
  @include main_text_styles;
  display: flex;
  color: #0F7C10;
  font-size: 20px;
  font-weight: 400;
  margin-top: 5px;
}

.description_2_phone{
  @include main_text_styles;
  display: flex;
  font-weight: 400;
  margin-top: 5px;
  color: #0F7C10;
  font-size: 17px;
}

