@mixin main_text_styles{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  position: relative;
}

.pagination{
  display: flex;
  height: 46px;
  justify-content: center;
  align-items: center;
}

.page{
  height: 26px;
  @include main_text_styles;
  font-weight: 400;
  font-size: 15px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.simple_elem{
  border: none;
  background-color: transparent;
  font-size: 15px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  &:hover{
    color: #0F7C10;
    text-decoration: underline;
  }
}