
@mixin content_style{
  position: absolute;
  width: 1920px;
  height: 375px;
  left: 0;
  top: 100px;
}

@mixin main_text_styles{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}
@mixin buttons_styles{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 10px 50px;
  border: #0F7C10 2px solid;
  color: #0F7C10;
  &:hover {
    background: #0F7C10;
    color: white;
    fill: white;
  }
}

@mixin pictures{
  position: absolute;
  width: 1015px;
  height: 325px;
  left: 14.58%;
  right: 14.58%;
  bottom: 0;
  display: flex;
  flex-direction: row;
}

.main_content{
  position: relative;
  width: 1920px;
  height: 2447px;
  top:100px;
}

.controllers{
  @include content_style;
}

.title_text{
  @include main_text_styles;
  font-weight: bold;
  font-size: 42px;
  width: 585px;
  height: 55px;
  letter-spacing: -1px;
}
.controllers_block{
  position: absolute;
  width: 325px;
  height: 117px;
  left: 280px;
  top: 50px;
  text-align: left;
}
.button{
  @include buttons_styles;
  @include main_text_styles;
  font-size: 17px;
  width: 205px;
  height: 42px;
  white-space: nowrap;
  gap: calc(5% + 5px);
}
.pictures_1{
  position: absolute;
  width: 1015px;
  height: 325px;
  left: 625px;
  top: 50px;
  display: flex;
  flex-direction: row;
}

.pictures_2{
  @include pictures;
  top: 24.2%;
}
.pictures_3{
  @include pictures;
  top: 57.8%;
}

.pic{
  width: 325px;
  height: 325px;
  margin-right: 20px;
  transition: 0.5s;

  &:hover{
    transform: scale(1.06);
  }
}

.design_lab{
  @include content_style;
  top: 475px;
}

.design_block{
  display: flex;
  gap: 20px;
  position: absolute;
  width: 553px;
  height: 55px;
  left: 280px;
  top: 50px;
}

.headsets{
  @include content_style;
  top: 925px;
}

.headset_block{
  position: absolute;
  width: 325px;
  height: 117px;
  left: 280px;
  top: 50px;
  text-align: left;
}

.stands{
  @include content_style;
  top: 1300px;
}

.stands_block{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 20px;
  position: absolute;
  width: 803px;
  height: 55px;
  left: 280px;
  top: 50px;
}