
@mixin content_style{
  position: absolute;
  width: 100%;
  height: 375px;
  left: 0;
  top: 100px;
}

@mixin main_text_styles{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}
@mixin buttons_styles{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 10px 50px;
  border: #0F7C10 2px solid;
  color: #0F7C10;
  &:hover {
    background: #0F7C10;
    color: white;
    fill: white;
  }
}

@mixin pictures{
  position: absolute;
  width: 1015px;
  height: 325px;
  left: 14.58%;
  right: 14.58%;
  bottom: 0;
}

@mixin text_button{
  position: absolute;
  width: 325px;
  height: 117px;
  left: 280px;
  top: 50px;
  text-align: left;
}

@mixin text_button_block{
  @include text_button;
  top: 0;
  gap: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main_content{
  position: relative;
  width: 1920px;
  height: 2447px;
  top:100px;
}
///////////////////////////////////////////////////////////////////////////////////
.first_block{
  @include content_style;
}

.text_button_block_first{
  @include text_button;
}

.title_text{
  @include main_text_styles;
  font-weight: bold;
  font-size: 42px;
  width: 585px;
  height: 55px;
  letter-spacing: -1px;
}

.button{
  @include buttons_styles;
  @include main_text_styles;
  font-size: 17px;
  width: 205px;
  height: 42px;
  white-space: nowrap;
  gap: calc(5% + 5px);
}

.pictures_first{
  display: flex;
  flex-flow: row;
  position: relative;
  top: 50px;
  left: 625px;
}

.picture_style{
  width: 325px;
  height: 325px;
  margin-right: 20px;
  transition: 0.5s;

  &:hover{
    transform: scale(1.06);
}}

////////////////////////////////////////////////////////////////////////////////////////////////

.second_block{
  @include content_style;
  height: 450px;
  top: 475px;
}
.text_button_block_second{
  @include text_button_block;
  width: 553px;
}
.pictures_second{
  display: flex;
  left: 14.58%;
  position: relative;
  top: 27.78%;
}
//////////////////////////////////////////////////////////////
.third_block{
  @include content_style;
  top: 925px;
}
/////////////////////////////////////////////////////////////
.fourth_block{
  @include content_style;
  height: 450px;
  top: 1300px;
}
.text_button_block_fourth{
  @include text_button_block;
  width: 809px;
}
///////////////////////////////////////////////////////////////
.last_block{
  @include content_style;
  height: 450px;
  top: 1750px;
}
.last_image{
  position: absolute;
  left: 280px;
  top:50px;
}
.text_button_block_last{
  @include text_button;
  width: 555px;
  position: absolute;
  left: 56.51%;
  right: 14.58%;
  top: 33.11%;
  bottom: 34.22%;
}