@mixin main_text_styles{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  position: relative;
}

@mixin gray_text_styles{
  @include main_text_styles;
  font-size: 20px;
  color: #878787;
}

.main_content{
  display: flex;
  flex-direction: column;
}
.title{
  display: flex;
  flex-flow: column;
  text-align: left;
}
.title_block{
  @include gray_text_styles;
  text-align: left;
  margin-top: 30px;
}
.links_text{
  @include main_text_styles;
  font-size: 20px;
  color: #878787;
  width: 222px;
  height: 23px;
  line-height: 20px;
  text-decoration: none;

  &:hover{
    text-decoration: green underline;
    color: darkgreen;
  }
}

.img_disable{
  width: 164px;
  height: 85px;
}

.img_enable{
  width: 785px;
  height: 460px;
}

.text_name{
  @include main_text_styles;
  font-size: 42px;
  height: 55px;
  margin-top: 10px;
  text-align: left;
}

.card_left_block{
  display: flex;
  flex-flow: row;
  margin-top: 30px;
}

.images_block{
  flex-flow: column;
}

.arrow_row{
  display: contents;
}

.left_arrow{
  position: absolute;
  left: 23px;
  margin-top: 34px;
  width: 20px;
  height: 20px;
  &:hover{
    border-radius: 50%;
    border: 1px solid #0F7C10;
  }
}
.right_arrow{
  position: absolute;
  margin-top: 34px;
  width: 20px;
  height: 20px;
  &:hover{
    border-radius: 50%;
    border: 1px solid #0F7C10;
  }
}

.card_right_block{
  display: flex;
  flex-flow: column;
}
.color_block{
  display: flex;
  flex-flow: row;
  align-items: center;
  gap:20px;
}
.color_text{
  @include main_text_styles;
  font-weight: 400;
  font-size: 20px;
  margin-left: 135px;
}

.round_disable{
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  outline: 2px solid black;
}

.round_enable{
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  outline: 4px solid #0F7C10;
}

.counter_block{
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 10px;
  margin-top: 42px;
  margin-left: 135px;
}

.squad{
  display: flex;
  width: 25px;
  height: 25px;
  border: 1px solid rgba(0,0,0,0.3);
  justify-content: center;
  align-items: center;
}

.prices_text{
  display: flex;
  flex-flow: row;
  gap: 20px;
  margin-left: 135px;
  margin-top: 40px;
  align-items: center;
}

.new_price_text{
  @include main_text_styles;
  font-size: 32px;
}

.old_price_text{
  @include gray_text_styles;
  font-size: 32px;
  font-weight: 400;
  text-decoration-line: line-through;
}

.button_position{
  display: flex;
  margin-left: 135px;
  margin-top: 40px;
}

.description_right_block{
  display: flex;
  margin-top: 65px;
  margin-left: 135px;
  flex-flow: column;
}

.description_name_disable {
  @include gray_text_styles;
  font-weight: 400;
  font-size: 20px;
}

.description_name{
  @include main_text_styles;
  display: flex;
  font-weight: 500;
  font-size: 20px;
  justify-content: space-between;
}

.name_style_enable{
  @include main_text_styles;
  font-weight: 400;
  font-size: 20px;
  border: none;
  outline: none;
  color: black;
  background: #F9F9F9;
  text-decoration: #0F7C10 underline;
}

.name_style_disable{
  @include gray_text_styles;
  font-weight: 400;
  font-size: 20px;
  border: none;
  outline: none;
  background: #F9F9F9;
}

.text_description{
  @include main_text_styles;
  display: flex;
  width: 440px;
  margin-left: 135px;
  margin-top: 20px;
  font-weight: 400;
  font-size: 20px;
  text-align: left;
}

.description_block{
  display: flex;
  flex-flow: row;
  margin-top: 30px;
}

.left_block{
  display: flex;
  flex-flow: column;
  width: 900px;
}

.right_block{
  display: flex;
  flex-flow: column;
  width: 440px;
  margin-left: 20px;
}

.name{
  @include main_text_styles;
  font-weight: bold;
  font-size: 20px;
  text-align: left;
}

.some_text{
  @include main_text_styles;
  margin-top: 10px;
  font-weight: 400;
  font-size: 20px;
  text-align: left;
}

.ad_block{
  display: flex;
  margin-top: 30px;
  flex-flow: column;
  text-align: left;
}

.ad_title{
  @include main_text_styles;
  font-size: 32px;
  font-weight: bold;
}

.card{
  display: flex;
  flex-flow: column;
  margin-top: 30px;
}

.ad_image{
  display: flex;
  width: 210px;
  height: 210px;
  margin-left: 8.5px;
}

.ad_description{
  @include main_text_styles;
  font-weight: 400;
  font-size: 17px;
}

.ad_price{
  @include main_text_styles;
  font-weight: 500;
  font-size: 17px;
}

.cards{
  display: flex;
  flex-flow: row;
}